@*          Egzaminavimas         *@
@*@model IEnumerable<RegitraISP.Models.Miesta>*@
@{
    ViewData["Title"] = "Egzaminavimas";
}
<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">-->  <!-- Google web font "Open Sans" -->
<!--<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">-->                <!-- Font Awesome -->
<!--<link rel="stylesheet" href="css/bootstrap.min.css">-->                                      <!-- Bootstrap style -->
@*<link rel="stylesheet" href="css/tooplate-style.css">*@

<section id="section" class="bodysection">
    <div class="tm-main-content">
        <section class="tm-margin-b-l">
            <header>
                <h2 class="pagetitle2">Egzaminavimas</h2>
            </header>
            <br/>
            <p class="page_infotext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="tm-gallery">
                <div class="row">
                    <figure class="col-lg-3 col-md-3 col-sm-6 col-12 tm-gallery-item">
                        <a style="text-decoration:none" href="@Url.Action("Registracija", "Egzaminavimas")">
                            <div class="tm-gallery-item-overlay">
                                <img src="img/10.jpg" alt="Image" class="img-fluid tm-img-center">
                            </div>

                            <p class="tm-figcaption">Registracija egzaminui</p>
                        </a>
                    </figure>
                    <figure class="col-lg-3 col-md-3 col-sm-6 col-12 tm-gallery-item">
                        <a style="text-decoration:none" href="@Url.Action("Filialai", "Egzaminavimas")">
                            <div class="tm-gallery-item-overlay">
                                <img src="img/11.jpg" alt="Image" class="img-fluid tm-img-center">
                            </div>
                            <p class="tm-figcaption">Filialai</p>
                        </a>
                    </figure>
                    <figure class="col-lg-3 col-md-3 col-sm-6 col-12 tm-gallery-item">
                        <a style="text-decoration:none" href="#">
                            <div class="tm-gallery-item-overlay">
                                <img src="img/4.jpg" alt="Image" class="img-fluid tm-img-center">
                            </div>
                            <p class="tm-figcaption">Apeliacijos</p>
                        </a>
                    </figure>
                    <figure class="col-lg-3 col-md-3 col-sm-6 col-12 tm-gallery-item">
                        <a style="text-decoration:none" href="#">
                            <div class="tm-gallery-item-overlay">
                                <img src="img/7.jpg" alt="Image" class="img-fluid tm-img-center">
                            </div>
                            <p class="tm-figcaption">Demo teorijos egzaminas</p>
                        </a>
                    </figure>
                    <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <a style="text-decoration:none" href="#">
                            <div class="tm-gallery-item-overlay">
                                <img src="img/9.jpg" alt="Image" class="img-fluid tm-img-center">
                            </div>
                            <p class="tm-figcaption">Egzaminai</p>
                        </a>
                    </figure>

                </div>
            </div>
        </section>
    </div>
</section>