@model RegitraISP.Models.UnauthUser
@{
    ViewData["Title"] = "Login";
}

<section id="section" class="bodysection">
    <div class="text-center" style="padding-bottom:500px;">
        <h1 class="display-4">Landing page xd</h1>

        <form method="post" asp-controller="Home" asp-action="Login">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <table>
                <tr>
                    <td>Prisijungimo vardas</td>
                    <td>
                        <input type="text" asp-for="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>Slaptazodis</td>
                    <td>
                        <input type="text" asp-for="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input class="btn btn-success" type="submit" value="Login" />
                    </td>
                </tr>
            </table>
            @*<p style="text-align:center; color:red;"><strong>@TempData["Error"]</strong></p>*@
        </form>
    </div>

</section>