@model RegitraISP.ViewModels.AutomobilisApziura
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@*

    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Deklaravimas";
}
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
<section id="section" class="bodysection">
    <div class="container_white">
        <section class="tm-margin-b-l">
            <h2 class="pagetitle">Techninės apžiūros duomenų deklaravimas</h2>
            <br />
            <p class="page_infotext">Instrukcija darbuotojui: Iš sąrašo pasirinkite automobilį ir įveskite visus jo techninės apžiūros duomenis.</p>
            <br />
            <br />
            <div style="padding-left:200px">
                <form method="post" asp-controller="TechninesApziuros" asp-action="Deklaravimas" id="av">
                    <input type="hidden" asp-for="TabelioNr" value="@HttpContextAccessor.HttpContext.Session.GetString("username")" />
                    <p><h2>Pasirinkite automobilį:</h2></p>
                    @Html.DropDownListFor(m => m.Vin, ViewBag.car as IEnumerable<SelectListItem>, "pasirinkite")
                    <br />
                    <br />
                    <p><h2>Techninės apžiūros duomenys:</h2></p>
                    <p style="font-size: larger">Dabartinė rida:</p>
                    <input type="text" asp-for="DabartineRida" value="" id="rida"/>
                    <span asp-validation-for="DabartineRida" class="text-danger"></span>
                    <br />
                    <br />
                    <p style="font-size: larger">Dūmingumas:</p>
                    <input type="number" step=any asp-for="Dumingumas" value="" id="dumingumas"/>
                    <span asp-validation-for="Dumingumas" class="text-danger"></span>
                    <br />
                    <br />
                    <p style="font-size: larger">Važiuoklės būklė:</p>
                    <input type="text" asp-for="VaziuoklesBukle" value="" id="vaz"/>
                    <span asp-validation-for="VaziuoklesBukle" class="text-danger"></span>
                    <br />
                    <br />
                    <p style="font-size: larger">Variklio būklė:</p>
                    <input type="text" asp-for="VariklioBukle" value="" id="var"/>
                    <span asp-validation-for="VariklioBukle" class="text-danger"></span>
                    <br />
                    <br />
                    <p style="font-size: larger">Kėbulo būklė:</p>
                    <input type="text" asp-for="KebuloBukle" value="" id="keb"/>
                    <span asp-validation-for="KebuloBukle" class="text-danger"></span>
                    <br />
                    <br />
                    <p style="font-size: larger">Pastabos:</p>
                    <textarea type="text" asp-for="Pastabos" value="" rows="10" cols="50" id="past"></textarea>
                    <br />
                    <br />
                    <button id="btn_reg" style="margin-left:0px;" class="btn btn-dark" type="submit" name="egz" value="">Deklaruoti rodmenis</button>
                </form>
            </div>
        </section>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.all.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#av").submit(function (event) {
            var e = document.getElementById("Vin");
            var vall = e.options[e.selectedIndex].value;
            if ($("#rida").val() == "" || $("#dumingumas").val() == "" || $("#vaz").val() == "" || $("#var").val() == "" || $("#keb").val() == "" || $("#past").val() == "" || vall == "" ){
                event.preventDefault();
                Swal.fire({
                    icon: 'error',
                    title: 'Užpildykite visus duomenis!',
                    confirmButtonText:'Supratau'
                })
            }
            else {
            Swal.fire({
                icon: 'success',
                title: 'Operacija sėkminga!',
                showConfirmButton: false,
                timer: 1600
            })

            }
        });
    });
</script>