@*          Tech apz         *@
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Techninės apžiūros";
}
@*<link rel="stylesheet" href="css/tooplate-style.css">*@

<section id="section" class="bodysection">
    <div class="tm-main-content">
        <section class="tm-margin-b-l">
            <header>
                <h2 class="pagetitle2">Techninės apžiūros</h2>
            </header>
            <br />
            <p class="page_infotext">Šioje paslaugų skiltyje rasite visą reikiamą informaciją bei teikiamas paslaugas susijusias su automobilių technine apžiūra.</p>

            <div class="tm-gallery">
                <div class="row">
                    <figure class="col-lg-3 col-md-3 col-sm-6 col-12 tm-gallery-item">
                        <a style="text-decoration:none" href="#">
                            <div class="tm-gallery-item-overlay">
                                <img src="img/2.jpg" alt="Image" class="img-fluid tm-img-center">
                            </div>

                            <p class="tm-figcaption">Apžiūros istorija</p>
                        </a>
                    </figure>
                    <figure class="col-lg-3 col-md-3 col-sm-6 col-12 tm-gallery-item">
                        <a style="text-decoration:none" href="#">
                            <div class="tm-gallery-item-overlay">
                                <img src="img/4.jpg" alt="Image" class="img-fluid tm-img-center">
                            </div>
                            <p class="tm-figcaption">Duomenų deklaravimas</p>
                        </a>
                    </figure>
                    <figure class="col-lg-3 col-md-3 col-sm-6 col-12 tm-gallery-item">
                        <a style="text-decoration:none" href="@Url.Action("Skaiciuokle", "TechninesApziuros")">
                            <div class="tm-gallery-item-overlay">
                                <img src="img/3.jpg" alt="Image" class="img-fluid tm-img-center">
                            </div>
                            <p class="tm-figcaption">Taršos mokesčio skaičiuoklė</p>
                        </a>
                    </figure>
                    <figure class="col-lg-3 col-md-3 col-sm-6 col-12 tm-gallery-item">
                        <a style="text-decoration:none" href="#">
                            <div class="tm-gallery-item-overlay">
                                <img src="img/6.jpg" alt="Image" class="img-fluid tm-img-center">
                            </div>
                            <p class="tm-figcaption">Vienos dienos leidimas</p>
                        </a>
                    </figure>
                    <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <a style="text-decoration:none" href="#">
                            <div class="tm-gallery-item-overlay">
                                <img src="img/5.jpg" alt="Image" class="img-fluid tm-img-center">
                            </div>
                            <p class="tm-figcaption">Registracija apžiūrai</p>
                        </a>
                    </figure>

                </div>
            </div>
        </section>
    </div>
</section>