/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  
}*/

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}
@media (min-width: 1168px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}

body {*/
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;*/ /* Vertically center the text there */
/*}*/

/*  
    #F0F0F0 - vos vos pilka, naudoti vietoj baltos
    #fff - balta spalva
    #555 - pilka spalva
*/

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #F0F0F0;
}

.navbar .navbar-brand {
    color: #F0F0F0;
    padding-right: 60px;
    font-size: 32px;
    font-weight: 900;
    font-family: Bahnschrift;
    padding-bottom: 8px;
}

/* Change navbar styling on scroll */
.navbar.active {
    background: #F0F0F0;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}


/* text color on hover when NOTscrolled */
.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #555;
    text-decoration: none;
}


/* text color on hover when scrolled */
.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: black;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* 1200 pakeist negalima, nes viduj bootstrap hardcodinta ir tng fixint :D */
@media (max-width: 1200px) {
    .navbar {
        background: #F0F0F0;
    }
    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

.navbar-nav > li{
    padding-left: 20px;
}


/* BODY*/
.bodysection {
    padding-top: 150px;
    padding-bottom: 150px;
}
body {
    min-height: 110vh;
    background-color: #4ca1af;
    background-image: linear-gradient(135deg, #4ca1af 0%, #c4e0e5 100%);
}

/*FOOTER*/
.footer {
    /* background-color: #004e7a80; */
    border-top: solid;
    border-width: 0.5px;
    border-color: white;
    font-size: 14px;
    margin-left: 10%;
    margin-right: 10%;
}

.footer .copyright {
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
    color: #555;
}

.footer .creator {
    text-align: center;
    font-size: 13px;
    color: #555;
    padding-bottom: 20px;
}

.footer .creator span {
    text-align: center;
    font-size: 13px;
    color: #555;
}

.footer .creator span:hover {
    text-align: center;
    font-size: 13px;
    color: white;
    font-weight: bold;
}



/*Fotkiu galerija*/
.tm-gallery-item:hover img {
    opacity: 0.5;
    transform: scale(1.1);
}
.tm-gallery-item:hover .tm-figcaption {
    color: black;
    text-decoration: none;
}
.tm-gallery {
    padding-top: 60px;
    padding-bottom: 35px;
    margin: 0 auto;
    text-decoration: none
}
.tm-gallery .row {
    margin-left: -10px;
    margin-right: -10px;
}
.tm-gallery-item {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none
}
.tm-gallery-item img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.tm-img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tm-img-center-sm {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tm-figcaption {
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 20px;
}


/*Puslapiai*/

.container_white {
    background-color: #F0F0F0;
    padding: 100px;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.8);
}


.pagetitle {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.pagetitle2 {
    font-size: 40px;
    font-weight: bold;
}

.page_infotext {
    font-size: 18px;
}


/*filialai*/
.cityname {
    font-size: 28px;
    padding-left: 100px;
    font-weight: bold;
}

.fproperty {
    padding-left: 150px;
    font-size: 18px;
}

.fproperty_ul {
    padding-left: 170px;
}

.fproperty_li {
    font-size: 18px;
}



