@*          pazymejimai/demo         *@
@model RegitraISP.Models.Klienta
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Demo pažymėjimas";
}
@*<link rel="stylesheet" href="css/tooplate-style.css">*@

<section id="section" class="bodysection">
    <div class="container_white">
        <section class="tm-margin-b-l">
            <h2 class="pagetitle">Demo pažymėjimas</h2>
            <br />
            <br />
            <p class="page_infotext">
                Šiame puslapyje galite pamatyti kaip atrodys Jūsų vairuotojo pažymėjimas, kai jis bus pagamintas. Tam, kad galėtumėte naudotis šia funkcija, turite būti į sistemą įkėlęs savo nuotrauką.
            </p>
            <br />
            <br />
            @if (Model.Nuotrauka != null)
            {
                <div class="demo_paz">
                    <p class="" style="position: absolute; margin-left: 222px; font-size: 24px; font-weight: 500; letter-spacing: 3px; ">@Model.Pavarde</p>
                    <p class="" style="position: absolute; margin-left: 222px; margin-top: 32px; font-size: 24px; font-weight: 500; letter-spacing: 3px; ">@Model.Vardas</p>
                    <img src="~/profilepics/@Model.Nuotrauka" height="180" width="178" asp-append-version="true" style="opacity: 0.7; margin-top: 27px; filter: grayscale(90%); " />
                    <img src="~/profilepics/@Model.Nuotrauka" height="60" width="60" asp-append-version="true" style="position: absolute; opacity: 0.4; margin-top: 166px; margin-left: 518px; filter: grayscale(100%); " />
                </div>
            }
            else
            {
                <p class="page_infotext" style="text-align:center">
                    Nesate įkėlęs savo nuotraukos, tai galite padaryti <a href="@Url.Action("Ikelimas", "Pazymejimai")">čia</a>.
                </p>
            }



        </section>
    </div>
</section>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.all.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#mf").submit(function () {
            Swal.fire({
                icon: 'success',
                title: 'Operacija sėkminga!',
                showConfirmButton: false,
                timer: 1600
            })
        });
    });
</script>